torch
torchvision
torchaudio
fastapi
uvicorn
pydantic
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/transformers.git
accelerate>=0.34.0
safetensors
sentencepiece
tiktoken
psutil
requests
nvidia-ml-py
peft
Pillow
huggingface_hub
